body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme-custom-light, .theme-default-light {
  background-color: #ffffff;
  color: #000000;
}

.theme-custom-dark, .theme-default-dark {
  background-color: #000000;
  color: #ffffff;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 24px;
}

.toggle-group {
  background-color: var(--background-default);
  display: flex;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.toggle-button.selected {
  pointer-events: none;
  background-color: #ececec;
}

.background {
  background-color: var(--background-default);
}
